doctype html
html
    include ./includes/init.jade
        title= title
    body
        include ./includes/header.jade


        include ./content/elements.jade
        

        include ./includes/footer.jade
            //- block content

        //- include ./includes/404.jade
        //-     block content

        //- include ./includes/500.jade
        //-     block content
            

    